/*Header start*/
header {
  background-image: url(../../../resources/images/slide/slide-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 300px;
  text-align: center;
  color: $third_color;
  transition: background-image 0.6s;

  h1 {
    font-size: 50px;
  }

  p {
    margin: 40px 0;
  }

  &:hover {
    background-image: url(../../../resources/images/slide/slide-2.jpg);
  }
}
/*Header end*/
